<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Описание авто</title>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            const currentUrl = window.location.href;

            if (!currentUrl.includes("clientTimeZone")) {
                const separator = currentUrl.includes("?") ? "&" : "?";
                window.location.href = currentUrl + separator + "clientTimeZone=" + encodeURIComponent(timezone);
            }
        });
    </script>
</head>
<body>

<div class="container">
    <h3>Детали автомобиля</h3>
    <br>
    <p><strong>Гос. номер:</strong> <span th:text="${vehicle.number}">0</span></p>
    <p><strong>Стоимость:</strong> <span th:text="${vehicle.price}">0</span> руб.</p>
    <p><strong>Пробег:</strong> <span th:text="${vehicle.mileage}">0</span> км</p>
    <p><strong>Год производства:</strong> <span th:text="${vehicle.yearOfCarProduction}">0</span></p>
    <p><strong>Дата покупки:</strong> <span th:text="${#temporals.format(vehicle.purchaseTime, 'yyyy-MM-dd HH:mm')}"></span></p>
    <p><strong>Бренд:</strong> <span th:text="${vehicle.brand != null ? vehicle.brand.brandName : 'Не указан'}">-</span></p>

<hr/>

<div>
    <b> <a	th:href="@{/managers/enterprises/{enterpriseId}/vehicles?page=1(enterpriseId=${enterprise.getId()})}"
              class="btn btn-secondary">Назад</a> </b>
</div>

</div>

</body>
</html>