<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение машины</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/vehicles/{id}(id=${vehicle.getId()})}" th:object="${vehicle}">
  <label for="number">Укажите гос. номер авто</label>
  <input type="text" th:field="*{number}" id="number">
  <div style="color:red" th:if="${#fields.hasErrors('number')}" th:errors="*{number}">Ошибка при вводе номера</div>
  <br/>
  <label for="price">Укажите стоимость авто</label>
  <input type="text" th:field="*{price}" id="price">
  <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Ошибка при вводе стоимости</div>
  <br/>
  <label for="mileage">Укажите пробег авто</label>
  <input type="text" th:field="*{mileage}" id="mileage">
  <div style="color:red" th:if="${#fields.hasErrors('mileage')}" th:errors="*{mileage}">Ошибка при вводе пробега</div>
  <br/>
  <label for="yearOfCarProduction">Укажите год выпуска</label>
  <input type="text" th:field="*{yearOfCarProduction}" id="yearOfCarProduction">
  <div style="color:red" th:if="${#fields.hasErrors('yearOfCarProduction')}" th:errors="*{yearOfCarProduction}">Ошибка при вводе года выпуска</div>
  <br/>

  <label for="brand">Выберите бренд:</label>
  <select th:field="*{brandId}" id="brand" required>
    <option th:each="brand : ${brands}"
            th:value="${brand.id}"
            th:text="${brand.brandName}">Бренд</option>
  </select>
  <div style="color:red" th:if="${#fields.hasErrors('brandId')}" th:errors="*{brandId}">Ошибка при выборе бренда</div>
  <br/>

  <input type="submit" value="Изменить!">

</form>

</body>
</html>