<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список авто</title>
</head>
<body>

<h2>Список автомобилей</h2>

<div class="container">
    <div class="list-group">
        <div th:each="vehicle, iterStat : ${vehicles}" class="list-group-item">
            <a th:href="@{/vehicles/{id}(id=${vehicle.getId()})}"
               th:text="'№ ' + ${iterStat.index + 1} +
               ', ID: ' + ${vehicle.getId()} +
               ', Бренд: ' + ${vehicle.brand != null ? vehicle.brand.brandName : 'Не указан'} +
               ', Номер: ' + ${vehicle.getNumber()} +
               ', Цена: ' + ${vehicle.getPrice()} +
               ', Пробег: ' + ${vehicle.getMileage()} + ' км' +
               ', Год: ' + ${vehicle.getYearOfCarProduction()}">Авто</a>
        </div>
    </div>
</div>

<br/>
<hr/>


<div th:align="center">

<h2>Список автомобилей</h2>

<form th:method="GET" th:action="search">
    <input type="text" name="keyword" />
    <input type="submit" value="Search" />
</form>

    <h3><a href="/vehicles/new">Добавить авто</a></h3>

<table th:border="1" th:cellpadding="5">
    <tr>
        <th>ID:</th>
        <th>Бренд:</th>
        <th>Номер:</th>
        <th>Цена:</th>
        <th>Пробег:</th>
        <th>Год:</th>
        <th>Водитель:</th>
        <th>Предприятие:</th>
        <th>Ссылка на машину</th>
    </tr>
    <tr th:each="vehicle : ${vehicles}">
        <td th:text="${vehicle.id}">id</td>
        <td th:text="${vehicle.brand != null ? vehicle.brand.brandName : 'Не указан'}">brand</td>
        <td th:text="${vehicle.number}">number</td>
        <td th:text="${vehicle.price}">price</td>
        <td th:text="${vehicle.mileage}">mileage</td>
        <td th:text="${vehicle.yearOfCarProduction}">year</td>
<!--        <td th:text="${vehicle.activeDriver != null ? vehicle.driver.driverName : 'Не указан'}">activeDriver</td>-->
<!--        <td th:text="${vehicle.enterprise != null ? vehicle.enterprise.enterpriseName : 'Не указан'}">enterprise</td>-->
        <td>
            <a th:href="@{/vehicles/{id}(id=${vehicle.id})}">Ссылка на машину</a>
        </td>
    </tr>
</table>
</div>

<div>
    <span th:if="${currentPage > 0}">
        <a th:href="@{/vehicles(page=${currentPage - 1}, size=${size})}">Предыдущая</a>
    </span>
    <span th:if="${currentPage < totalPages - 1}">
        <a th:href="@{/vehicles(page=${currentPage + 1}, size=${size})}">Следующая</a>
    </span>
</div>

<div>
    <p>Страница <span th:text="${currentPage + 1}">1</span> из <span th:text="${totalPages}">1</span></p>
</div>


</body>
</html>