<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Детали автомобиля</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const timezone = Intl.DateTimeFormat().resolvedOptions().timeZone;
            const currentUrl = window.location.href;

            if (!currentUrl.includes("clientTimeZone")) {
                const separator = currentUrl.includes("?") ? "&" : "?";
                window.location.href = currentUrl + separator + "clientTimeZone=" + encodeURIComponent(timezone);
            }
        });
    </script>
</head>

<body>
<div class="container">
    <h1 th:align="center">Детали автомобиля</h1>
    <table class="table table-bordered">
        <tr>
            <th>Id</th>
            <th>Бренд</th>
            <th>Регистрационный номер</th>
            <th>Год выпуска</th>
            <th>Стоимость, руб</th>
            <th>Пробег, км</th>
            <th>Дата покупки</th>
        </tr>
        <tr>
            <td th:text="${vehicle.id}"></td>
            <td th:text="${vehicle.brand != null ? vehicle.brand.brandName : 'Не указан'}"></td>
            <td th:text="${vehicle.number}"></td>
            <td th:text="${vehicle.yearOfCarProduction}"></td>
            <td th:text="${vehicle.price}"></td>
            <td th:text="${vehicle.mileage}"></td>
            <td th:text="${#temporals.format(clientPurchaseTime, 'yyyy-MM-dd HH:mm')}"></td>
        </tr>
    </table>

<!--    <select id="reportType" name="reportType" class="form-select" required>-->
<!--        <option th:each="reportType : ${reportTypes}"-->
<!--                th:value="${reportType.name()}"-->
<!--                th:text="${reportType.title}"></option>-->
<!--    </select>-->

<!--    <div class="container mt-4">-->
<!--        <h2>Сгенерировать отчёт по пробегу:</h2>-->
<!--        <form th:action="@{/managers/enterprises/{enterpriseId}/vehicles/{vehicleId}/report(enterpriseId=${enterprise.id}, vehicleId=${vehicle.id})}" method="get">-->

<!--            <div class="col-md-4">-->
<!--            <label for="startDate">Начальная дата:</label>-->
<!--            <input type="datetime-local" id="startDate" name="startDate" class="form-control" required>-->
<!--            </div>-->

<!--            <div class="col-md-4">-->
<!--            <label for="endDate">Конечная дата:</label>-->
<!--            <input type="datetime-local" id="endDate" name="endDate" class="form-control" required>-->
<!--            </div>-->

<!--            <div class="col-md-4">-->
<!--            <label for="period">Период:</label>-->
<!--            <select id="period" name="period" class="form-control">-->
<!--                <option value="DAY">День</option>-->
<!--                <option value="MONTH">Месяц</option>-->
<!--                <option value="YEAR">Год</option>-->
<!--            </select>-->
<!--            </div>-->

<!--            <div class="mt-3">-->
<!--                <button type="submit" class="btn btn-primary">Сформировать отчёт</button>-->
<!--            </div>-->
<!--        </form>-->
<!--    </div>-->

<!--    <hr>-->

<!--    &lt;!&ndash; Таблица с результатами отчёта &ndash;&gt;-->
<!--    <div th:if="${report}">-->
<!--        <h3>Результаты отчёта</h3>-->
<!--        <table class="table table-bordered">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Период</th>-->
<!--                <th>Пробег (км)</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr th:each="entry : ${report.results}">-->
<!--                <td th:text="${entry.key}"></td>-->
<!--                <td th:text="${entry.value}"></td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->

    <div>
    <a th:href="@{/managers/enterprises/{enterpriseId}/vehicles/{vehicleId}/trips/map(enterpriseId=${enterprise.id}, vehicleId=${vehicle.id})}"
       class="btn btn-success"> Просмотреть треки </a>
    </div>
    <br>

    <div>
        <a th:href="@{/managers/enterprises/{enterpriseId}/vehicles/{vehicleId}/trips/upload(enterpriseId=${enterprise.id}, vehicleId=${vehicle.id})}"
           class="btn btn-primary"
           data-testid="upload-track-btn"> Загрузить трек </a>
    </div>
    <br>


    <div>
        <a th:href="@{/managers/enterprises/{enterpriseId}/vehicles?page=1(enterpriseId=${enterprise.id})}"
           class="btn btn-secondary">Назад</a>
    </div>

    <script th:inline="javascript">
        /*<![CDATA[*/
        const tripCoordinates = [[${tripCoordinates}]];
        if (tripCoordinates && tripCoordinates.length > 0) {
            const map = L.map('map').setView([52.603230, 39.57383], 10);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);

            tripCoordinates.forEach((coords, index) => {
                const polyline = L.polyline(coords, {color: 'blue'}).addTo(map);
                map.fitBounds(polyline.getBounds());
            });
        }
        /*]]>*/
    </script>

</div>


</body>

</html>